.main-layout{
    display: grid;
    grid-template-areas:
    "header"
    "map"
    "controls"
    "sidebar"
    "footer"
    ;
    gap: .5rem;
}

.main-header{
    grid-area: header;
}

.map-container{
    grid-area: map ;
}

.map-controls{
    grid-area:controls ;
}

.sidebar-container{
    grid-area: sidebar;
}

.main-footer{
    grid-area: footer;
}